{% extends 'index.html' %}
{% block content %}
<div class="category-add-list">
    <div class="content-page">
        <div class="container-fluid add-form-list">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card"
                        >
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Reports
                                </h4>
                            </div>
                        </div>
                    </div>
                        <div class="content" >
                           

                            <div class="row">

                                <div class="col-md-6 mt-3">
                                    <div class="card" style="padding: 20px;">
                                        <h5>Expense Report</h5>
        
                                        <div class="btn-group btn-group-toggle btn-group-edges" style="width: 300px; margin: auto;"> 
                                            <a class="button btn button-icon bg-info" target="_blank" href="#">Excel</a>
                                            <a class="button btn button-icon bg-danger" target="_blank" href="#">PDF</a>
                                         </div>
        
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <div class="card" style="padding: 20px;">
                                        <h5>Income Report</h5>
        
                                        <div class="btn-group btn-group-toggle btn-group-edges" style="width: 300px; margin: auto;"> 
                                            <a class="button btn button-icon bg-info" target="_blank" href="#">Excel</a>
                                            <a class="button btn button-icon bg-danger" target="_blank" href="#">PDF</a>
                                         </div>
        
                                    </div>

                                </div>

                                <div class="col-md-6 mt-3">
                                    <div class="card" style="padding: 20px;">
                                        <h5>Sale Report</h5>
        
                                        <div class="btn-group btn-group-toggle btn-group-edges" style="width: 300px; margin: auto;"> 
                                            <a class="button btn button-icon bg-info" target="_blank" href="#">Excel</a>
                                            <a class="button btn button-icon bg-danger" target="_blank" href="#">PDF</a>
                                         </div>
        
                                    </div>

                                </div>
                                <div class="col-md-6 mt-3">
                                    <div class="card" style="padding: 20px;">
                                        <h5>Product Report</h5>
        
                                        <div class="btn-group btn-group-toggle btn-group-edges" style="width: 300px; margin: auto;"> 
                                            <a class="button btn button-icon bg-info" target="_blank" href="#">Excel</a>
                                            <a class="button btn button-icon bg-danger" target="_blank" href="#">PDF</a>
                                         </div>
        
                                    </div>

                                </div>
                                <div class="col-md-6 mt-3">
                                    <div class="card" style="padding: 20px;">
                                        <h5>Purchase Report</h5>
        
                                        <div class="btn-group btn-group-toggle btn-group-edges" style="width: 300px; margin: auto;"> 
                                            <a class="button btn button-icon bg-info" target="_blank" href="#">Excel</a>
                                            <a class="button btn button-icon bg-danger" target="_blank" href="#">PDF</a>
                                         </div>
        
                                    </div>
                                </div>

                                <div class="col-md-6 mt-3">
                                    <div class="card" style="padding: 20px;">
                                        <h5>Inventory Report</h5>
        
                                        <div class="btn-group btn-group-toggle btn-group-edges" style="width: 300px; margin: auto;"> 
                                            <a class="button btn button-icon bg-info" target="_blank" href="#">Excel</a>
                                            <a class="button btn button-icon bg-danger" target="_blank" href="#">PDF</a>
                                         </div>
        
                                    </div>

                                </div>
                            </div>
                            
                        </div>


                    </div>
                </div>
            </div>
        </div>
    
</div>
{% endblock %}